<form action="/landmarks" method="post">
  <h1>New Landmark</h1>
  <p>Landmark Name: <input type="text" name="landmark[name]"></p>
  <p>Landmark Year Completed: <input type="text" name="landmark[year_completed]"></p>
  <input type="submit">
</form>
